.carouselThumbnailWrapper {
  position: relative;
  display: flex;
  align-items: center;

  .thumbnailContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    overflow-x: auto;         
    scroll-behavior: smooth;   
    scrollbar-width: none;    
    -ms-overflow-style: none;  
    padding: 0.5rem 0;

    &::-webkit-scrollbar {
      display: none;          
    }

    img {
      width: 8rem;
      height: 4rem;
      border-radius: 10%;
      flex-shrink: 0;         
      cursor: pointer;
      transition: transform 0.3s ease;
    }

    img:hover {
      transform: scale(1.05);
    }
    img.active {
      border-bottom: 5px solid #a60624 ; 
      transform: scale(1.05);        
    }
  }

  .navBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(6px);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    color: #333;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
  }

  .navBtn.left {
    left: 1rem;   /* move slightly outside container */
  }

  .navBtn.right {
    right: 1rem;
  }

  .navBtn:hover {
    background: rgba(255, 255, 255, 0.4);
    transform: translateY(-50%) scale(1.1);
  }
}
