
.nav-menu {
  display: flex;                 
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 2rem;
  text-decoration: none;
  // .nav-menu .active {
  //   color: #4cc0ed; 
  //   font-weight: 500; 
  //   border-bottom: 2px solid #4cc0ed; 
  // }
  

  .left-menu ul,
  .right-menu ul {
    display: flex;  
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1.5rem;   
  }

  li {
    // cursor: pointer;
    // font-weight: 500;
    // color: #333;
    // &:hover {
    //   color: #4cc0ed;
    // }
    .active {
      color: #4cc0ed; 
      font-weight: 500; 
      border-bottom: 2px solid #4cc0ed; 
    }
    .navlink{
      text-decoration: none;
      cursor: pointer;
      font-weight: 500;
      color: #333;
      &:hover {
        color: #4cc0ed;
    }}

  }
}

hr {
  width: 100%;
  border: 0.5px solid #ddd;
  margin-top: 0.5rem;
}

