@import './header';
@import './landing';
@import './footer';
@import './app';
@import './slider';
@import './milestones';
@import './milestone';
@import './restMilestones';
@import './gallary';
@import './sectionOne';
@import './carousel';
@import'./_milestoneEditor.scss';
@import '../styles//carouselThumbnail';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');


body {
  background-color:#F0F4F8; // white background
  margin: 0; // removes default browser spacing
  font-family: Arial, sans-serif; // optional global font
}